<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Score</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="student, iStat:${students}">
              <th scope="row" th:text="${iStat.index} +1"></th>
              <td th:text="${student.name}"></td>
              <td th:text="${student.point}"></td>
            </tr>
          </tbody>
    </table>
    <p th:utext="${message}"></p>
</body>
</html>